.sidebar_chucnang
  &__item
    width: 200px
    margin: .5rem
    &:first-of-type
      .sidebar_chucnang__box
        background: #353b48
    &:nth-of-type(2)
      .sidebar_chucnang__box
        background: darken(#00cec9, 20)
    &:nth-of-type(3)
      .sidebar_chucnang__box
        background: darken(#fbc531, 20)
    &:nth-of-type(4)
      .sidebar_chucnang__box
        background: darken(#0984e3, 20)
    &:nth-of-type(5)
      .sidebar_chucnang__box
        background: darken(#4cd137, 20)
    &:nth-of-type(6)
      .sidebar_chucnang__box
        background: darken(#9c88ff, 20)
    &:nth-of-type(7)
      .sidebar_chucnang__box
        background: #eb4d4b
    &:nth-of-type(8)
      .sidebar_chucnang__box
        background: darken(#74b9ff, 20)
    &:nth-of-type(9)
      .sidebar_chucnang__box
        background: #7f8fa6
    &:nth-of-type(10)
      .sidebar_chucnang__box
        background: #be2edd
    &:nth-of-type(11)
      .sidebar_chucnang__box
        background: #f9ca24
    &:last-of-type
      .sidebar_chucnang__box
        background: #30336b
  &__box
    display: block
    border-radius: .5rem
    transition: all .25s ease-in-out
    &:hover
      transform: translateY(-5px)
