section.modal_chucnang__wrapper(data-modal='monhoc')
  .modal_chucnang__close.mdi.mdi-chevron-left.text-white
  .container-fluid.mt-3
    .row
      .col-12
        h1.text-center.text-white Quản lý môn học
      .col-12
        .modal_chucnang__box.border.rounded.p-4.mt-5.bg-white
          .row.justify-content-center.align-items-center
            .col-3
              .form-group
                label Tên môn học
                input.form-control
              .form-group
                label Tên viết tắt
                input.form-control
            .col-3
              .form-group
                label Tên tiếng anh
                input.form-control
              .form-group
                label Tên tiếng anh viết tắt
                input.form-control
            .col-3
              .form-group
                label Mã môn học
                .d-flex.align-items-center
                  .mdi.mdi-reload.mdi-24px.mr-2
                  input.form-control(readonly value='0001')
              .form-group
                label Loại môn học
                select.form-control
                  option Thực hành
                  option Lý thuyết
                  option Module
                  option Tốt nghiệp
            .col-auto
              .modal_chucnang__group__button
                button.modal_chucnang__button.btn.btn-outline-primary.px-4.mx-2
                  img.modal_chucnang__button__icon.mb-2(src='img/icons/add.png' alt='image icon')
                  div Thêm mới
                button.modal_chucnang__button.btn.btn-outline-success.px-4.mx-2
                  img.modal_chucnang__button__icon.mb-2(src='img/icons/upgrade.png' alt='image icon')
                  div Cập nhật
                button(type='reset').modal_chucnang__button.btn.btn-outline-danger.px-4.mx-2
                  img.modal_chucnang__button__icon.mb-2(src='img/icons/error.png' alt='image icon')
                  div Huỷ
      .col-12
        .modal_chucnang__box.border.rounded.p-4.mt-5.bg-white
          .d-flex.align-items-center.mb-2
            label.mb-0.d-flex.align-items-center
              span.text-nowrap Hiển thị &nbsp;
              select.custom-select.custom-select-sm.form-control.form-control-sm
                option 10
                option 25
                option 50
              span.text-nowrap &nbsp; hàng
            label.ml-auto.mb-0.d-flex.align-items-center
              span.text-nowrap Tìm kiếm: &nbsp;
              input(placeholder='Tìm kiếm').form-control.form-control-sm
          table#danhsach_monhoc.modal_chucnang__table.table
            thead.bg__caothang.text-white
              th(scope='col' style='max-width: 100px').text-center Mã MH
              th(scope='col') Tên môn học
              th(scope='col') Tên viết tắt
              th(scope='col') Tên tiếng anh
              th(scope='col') Tên tiếng anh viết tắt
              th(scope='col') Loại môn học
              th.text-center(scope='col')
                span.modal_chucnang__button__save.mdi.mdi-content-save-outline.mdi-24px
            tfoot.d-none
              tr
                td(style='max-width: 100px')
                  input.form-control.form-control-sm
                td
                  input.form-control.form-control-sm
                td
                  input.form-control.form-control-sm
                td
                  input.form-control.form-control-sm
                td
                  input.form-control.form-control-sm
                td
                  select.form-control.form-control-sm
                    option Thực hành
                    option Lý thuyết
                    option Module
            tbody
              tr
                td(style='max-width: 100px')
                  input(disabled value='0001').form-control.form-control-sm
                td
                  input(disabled value='Công nghệ thông tin').form-control.form-control-sm
                td
                  input(disabled value='CNTT').form-control.form-control-sm
                td
                  input(disabled value='Information Technology').form-control.form-control-sm
                td
                  input(disabled value='IT').form-control.form-control-sm
                td
                  select(disabled).form-control.form-control-sm
                    option Thực hành
                    option Lý thuyết
                    option Module
                td.text-center
                  span.modal_chucnang__button__edit.mdi.mdi-file-document-edit-outline.mdi-24px
                  span.modal_chucnang__button__delete.mdi.mdi-delete-outline.mdi-24px