section.modal_chucnang__wrapper(data-modal='chitieudaotao')
  .modal_chucnang__close.mdi.mdi-chevron-left.text-white
  .container-fluid.mt-3
    .row
      .col-12
        h1.text-center.text-white Quản lý chỉ tiêu đào tạo
      .col-12
        .modal_chucnang__box.border.rounded.p-4.mt-5.bg-white
          .row.justify-content-center.align-items-center
            .col-3
              .form-group
                label Bậc
                select.form-control
                  option Trung cấp
                  option Cao đẳng
                  option Đại học
              .form-group
                label Ngành
                select.form-control
                  option Ngành CNTT
                  option Cơ khí
            .col-3
              .form-group
                label Loại hình đào tạo
                select.form-control
                  option Chính quy
                  option Liên thông
              .form-group
                label Khoá
                select.form-control
                  option 15
                  option 16
                  option 17
            .col-auto
              .modal_chucnang__group__button
                button.modal_chucnang__button.btn.btn-outline-primary.px-4.mx-2
                  img.modal_chucnang__button__icon.mb-2(src='img/icons/books.png' alt='image icon')
                  div Môn tương đương
                button.modal_chucnang__button.btn.btn-outline-success.px-4.mx-2
                  img.modal_chucnang__button__icon.mb-2(src='img/icons/portable-document-format.png' alt='image icon')
                  div Sao chép
                button.modal_chucnang__button.btn.btn-outline-secondary.px-4.mx-2
                  img.modal_chucnang__button__icon.mb-2(src='img/icons/print.png' alt='image icon')
                  div In
                button(type='reset').modal_chucnang__button.btn.btn-outline-danger.px-4.mx-2
                  img.modal_chucnang__button__icon.mb-2(src='img/icons/error.png' alt='image icon')
                  div Huỷ
      .col-12
        .modal_chucnang__box.border.rounded.p-4.mt-5.bg-white
          .d-flex.align-items-center.mb-3
            ul.pagination.m-0
              li.page-item.active.text-white
                a(href='#').page-link.text-reset Học kì 1
              li.page-item
                a(href='#').page-link.text-reset Học kì 2
              li.page-item
                a(href='#').page-link.text-reset Học kì 3
              li.page-item
                a(href='#').page-link.text-reset Học kì 4
              li.page-item
                a(href='#').page-link.text-reset Học kì 5
              li.page-item
                a(href='#').page-link.text-reset Học kì 6
              li.page-item
                a(href='#').page-link.text-reset Tốt nghiệp
              li.page-item
                a(href='#').page-link.text-reset Các chứng chỉ
              li.page-item
                a(href='#').page-link.text-reset HP tiếng anh
            .ml-auto
              .form-inline
                label.mr-2 Chuyên ngành:
                select.form-control
                  option Tất cả chuyên ngành
                  option CN Mạng máy tính
                  option CN Công nghệ phần mềm
          table#them_chitiet_ctdaotao.modal_chucnang__table.table
            thead.bg__caothang.text-white
              th(scope='col' style='max-width: 80px') STT
              th(scope='col') Môn học
              th(scope='col') Bộ môn
              th(scope='col') Loại tiền thu
              th(scope='col' style='max-width: 100px') ĐVHT
              th(scope='col' style='max-width: 100px') Số tiết học
              th(scope='col' style='max-width: 100px') Số tuần
              th(scope='col') Loại môn
              th(scope='col') Tính
              th(scope='col') Xét
              th.text-center(scope='col')
                span.modal_chucnang__button__plus.mdi.mdi-plus.mdi-24px
                span.ml-2.modal_chucnang__button__save.mdi.mdi-content-save-outline.mdi-24px
            tbody
              tr
                td(style='max-width: 80px')
                  input.form-control(placeholder='STT')
                td
                  select.form-control
                    option Mạng máy tính
                    option Lập trình hướng đối tượng
                    option Cơ sở dữ liệu
                td
                  select.form-control
                    option Tin học
                    option Cơ khí
                    option Ô tô
                td
                  select.form-control
                    option Lý thuyết
                    option Thực hành
                    option Tốt nghiệp
                    option Module
                td(style='max-width: 100px')
                  input.form-control(placeholder='ĐVHT')
                td(style='max-width: 100px')
                  input.form-control(placeholder='Số tiết học')
                td(style='max-width: 100px')
                  input.form-control(placeholder='Số tuần')
                td
                  select.form-control
                    option Thực hành
                    option Lý thuyết
                    option Module
                td
                  .custom-control.custom-checkbox
                    input#customCheck1(type='checkbox').custom-control-input
                    label(for='customCheck1').custom-control-label
                td
                  .custom-control.custom-checkbox
                    input#customCheck2(type='checkbox').custom-control-input
                    label(for='customCheck2').custom-control-label
                td.text-center
                  span.modal_chucnang__button__delete.mdi.mdi-delete-outline.mdi-24px