section.sidebar_chucnang__wrapper.mt-4
  .container-fluid
    .d-flex.flex-wrap.justify-content-center
      .sidebar_chucnang__item(data-modal='lichdaotao')
        a(href='#').sidebar_chucnang__box.card.border-0.py-3.px-2.px-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .sidebar_chucnang__icon.mdi.mdi-calendar-blank-multiple.mdi-24px
          .sidebar_chucnang__text.mt-2 Lịch đào tạo
      .sidebar_chucnang__item(data-modal='kehoachdaotao')
        a(href='#').sidebar_chucnang__box.card.border-0.py-3.px-2.px-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .sidebar_chucnang__icon.mdi.mdi-calendar-blank-multiple.mdi-24px
          .sidebar_chucnang__text.mt-2 Kế hoạch đào tạo
      .sidebar_chucnang__item(data-modal='chitieudaotao')
        a(href='#').sidebar_chucnang__box.card.border-0.py-3.px-2.px-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .sidebar_chucnang__icon.mdi.mdi-calendar-check.mdi-24px
          .sidebar_chucnang__text.mt-2 Chỉ tiêu đào tạo
      .sidebar_chucnang__item(data-modal='nganhnghe')
        a(href='#').sidebar_chucnang__box.card.border-0.py-3.px-2.px-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .sidebar_chucnang__icon.mdi.mdi-near-me.mdi-24px
          .sidebar_chucnang__text.mt-2 Ngành nghề
      .sidebar_chucnang__item(data-modal='khoabomon')
        a(href='#').sidebar_chucnang__box.card.border-0.py-3.px-2.px-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .sidebar_chucnang__icon.mdi.mdi-folder-account.mdi-24px
          .sidebar_chucnang__text.mt-2 Khoa - Bộ môn
      .sidebar_chucnang__item(data-modal='monhoc')
        a(href='#').sidebar_chucnang__box.card.border-0.py-3.px-2.px-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .sidebar_chucnang__icon.mdi.mdi-school.mdi-24px
          .sidebar_chucnang__text.mt-2 Môn học