section.sidebar_chucnang__wrapper.mt-4
  .container-fluid
    .d-flex.flex-wrap.justify-content-center
      .sidebar_chucnang__item(data-modal='them-modal-vao-day')
        .sidebar_chucnang__box.card.border-0.py-3.px-2.px-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .sidebar_chucnang__icon.mdi.mdi-calendar-blank-multiple.mdi-24px
          .sidebar_chucnang__text.mt-2 Chức năng 1