extends _layout.pug

block var
  -var title = 'Chương trình đào tạo'

block main
  include ../components/sidebar-chucnang/chuongtrinhdaotao/sidebar-chuongtrinhdaotao.pug
  include ../components/modal-chucnang/chuongtrinhdaotao/modal-kehoachdaotao/modal-kehoachdaotao.pug
  include ../components/modal-chucnang/chuongtrinhdaotao/modal-chitieudaotao/modal-chitieudaotao.pug
  include ../components/modal-chucnang/chuongtrinhdaotao/modal-giaovien/modal-giaovien.pug
  include ../components/modal-chucnang/chuongtrinhdaotao/modal-nganhnghe/modal-nganhnghe.pug
  include ../components/modal-chucnang/chuongtrinhdaotao/modal-khoabomon/modal-khoabomon.pug
  include ../components/modal-chucnang/chuongtrinhdaotao/modal-monhoc/modal-monhoc.pug
  include ../components/modal-chucnang/chuongtrinhdaotao/modal-chucvu/modal-chucvu.pug