extends _layout.pug

block var
  -var title = 'Điểm'

block main
  include ../components/sidebar-chucnang/diem/sidebar-diem.pug
  include ../components/modal-chucnang/diem/modal-giaovien/modal-giaovien.pug
  include ../components/modal-chucnang/diem/modal-nopdiem/modal-nopdiem.pug
  include ../components/modal-chucnang/diem/modal-diemsinhvien/modal-diemsinhvien.pug
  include ../components/modal-chucnang/diem/modal-cotdiemlophocphan/modal-cotdiemlophocphan.pug
  include ../components/modal-chucnang/diem/modal-sinhvienlophocphan/modal-sinhvienlophocphan.pug
  include ../components/modal-chucnang/diem/modal-giaovienlophocphan/modal-giaovienlophocphan.pug
  include ../components/modal-chucnang/diem/modal-lophocphan/modal-lophocphan.pug
  include ../components/modal-chucnang/diem/modal-diemlophocphan/modal-diemlophocphan.pug
  include ../components/modal-chucnang/diem/modal-lophoc/modal-lophoc.pug