extends _layout.pug

block var
  -var title = 'E-Learning'

block main
  include ../components/sidebar-chucnang/e-learning/sidebar-e-learning.pug
  include ../components/modal-chucnang/e-learning/modal-phanconggiangday/modal-phanconggiangday.pug
  include ../components/modal-chucnang/e-learning/modal-quanlykhaosat/modal-quanlykhaosat.pug
  include ../components/modal-chucnang/e-learning/modal-tracuuthongtin/modal-tracuuthongtin.pug