extends _layout.pug

block var
  -var title = 'Facebook'

block main
  include ../components/sidebar-chucnang/facebook/sidebar-facebook.pug
  include ../components/modal-chucnang/facebook/modal-quanlybaidang/modal-quanlybaidang.pug
  include ../components/modal-chucnang/facebook/modal-quanlygroup/modal-quanlygroup.pug
  include ../components/modal-chucnang/facebook/modal-quanlypage/modal-quanlypage.pug