section.modal_chucnang__wrapper(data-modal='chitieudaotao')
  .modal_chucnang__close.mdi.mdi-chevron-left.text-white
  .container-fluid.mt-3
    .row
      .col-12
        h1.text-center.text-white Quản lý chỉ tiêu đào tạo
      .col-12
        .modal_chucnang__box.border.rounded.p-4.mt-5.bg-white
          .row.justify-content-center.align-items-center
            .col-3
              .form-group
                label Bậc
                select.form-control
                  option Trung cấp
                  option Cao đẳng
                  option Đại học
              .d-flex
                .col.p-0.form-group
                  label Loại hình đào tạo
                  select.form-control.modal_chucnang__select2
                    option Chính quy
                    option Liên thông
                .ml-2
                  .form-group
                    label Khoá
                    input.form-control(type='number' style='width: 80px' min='15' value='15')
            .col-3
              .form-group
                label Năm học
                .d-flex
                  input.form-control(type='number' min='2016' value='2016')
                  input.form-control.ml-2(type='number' min='2016' value='2016')
              .form-group
                label Học kì
                .d-flex
                  .d-flex.align-items-center
                    label.mb-0.mr-2 Từ
                    input.form-control(type='number' min='1' value='1')
                  .ml-2.d-flex.align-items-center
                    label.mb-0.mr-2 đến
                    input.form-control(type='number' min='1' value='1')
            .col-auto
              .custom-control.custom-checkbox
                input#chitieudaotaocheckbox0(type='checkbox').custom-control-input
                label(for='chitieudaotaocheckbox0').custom-control-label Chỉ tạo lớp
            .col-auto
              .modal_chucnang__group__button
                button.modal_chucnang__button.btn.btn-outline-primary.px-4
                  img.modal_chucnang__button__icon.mb-2(src='img/icons/books.png' alt='image icon')
                  div Phát sinh lớp học phần
                //-   div Huỷ
      .col-12
        .modal_chucnang__box.border.rounded.p-4.mt-5.bg-white
          ul.pagination.mb-3
            li.page-item.active.text-white
              a(href='#').page-link.text-reset Chỉ tiêu
            li.page-item
              a(href='#').page-link.text-reset Lớp học phần
            li.page-item
              a(href='#').page-link.text-reset Sinh viên
          table#them_chitiet_chitieudaotao.modal_chucnang__table.table
            thead.bg__caothang.text-white
              th(scope='col' style='max-width: 80px') STT
              th(scope='col') Tên ngành
              th(scope='col') Số lượng
              th(scope='col') Ngành
              th(scope='col' style='max-width: 100px') Lớp
              th(scope='col' style='max-width: 100px') Chính quy
              th(scope='col' style='max-width: 100px') Số tuần
              th(scope='col') Loại môn
              th(scope='col') Tính
              th(scope='col') Xét
              th.text-center(scope='col')
                span.modal_chucnang__button__plus.mdi.mdi-plus.mdi-24px
                span.ml-2.modal_chucnang__button__save.mdi.mdi-content-save-outline.mdi-24px
            tbody
              tr
                td(style='max-width: 80px')
                  input.form-control(placeholder='STT')
                td
                  select.form-control
                    option Mạng máy tính
                    option Lập trình hướng đối tượng
                    option Cơ sở dữ liệu
                td
                  select.form-control
                    option Tin học
                    option Cơ khí
                    option Ô tô
                td
                  select.form-control
                    option Lý thuyết
                    option Thực hành
                    option Tốt nghiệp
                    option Module
                td(style='max-width: 100px')
                  input.form-control(placeholder='ĐVHT')
                td(style='max-width: 100px')
                  input.form-control(placeholder='Số tiết học')
                td(style='max-width: 100px')
                  input.form-control(placeholder='Số tuần')
                td
                  select.form-control
                    option Thực hành
                    option Lý thuyết
                    option Module
                td
                  .custom-control.custom-checkbox
                    input#chitieudaotaocheckbox1(type='checkbox').custom-control-input
                    label(for='chitieudaotaocheckbox1').custom-control-label
                td
                  .custom-control.custom-checkbox
                    input#chitieudaotaocheckbox2(type='checkbox').custom-control-input
                    label(for='chitieudaotaocheckbox2').custom-control-label
                td.text-center
                  span.modal_chucnang__button__delete.mdi.mdi-delete-outline.mdi-24px