header.header_master.bg__caothang.shadow
  .header_dropdown__wrapper
    a(href='/').header_logo.mb-1
      img(src='img/logo/logo_khoa_white.png' alt='logo khoa cntt')
    .header_dropdown__toggle lucaotien_cntt
    .header_dropdown__menu
      a(href='#').header_dropdown__item
        span.mdi.mdi-information.mr-2
        span Thông tin
      a(href='#').header_dropdown__item
        span.mdi.mdi-key.mr-2
        span Đổi mật khẩu
      hr.my-1
      a(href='#').header_dropdown__item
        span.mdi.mdi-logout-variant.mr-2
        span Đăng xuất
  nav.header_navbar
    li.header_navbar__divider
    li.header_navbar__item
      a(href='chuong-trinh-dao-tao.html').text-white.text-decoration-none
        img.header_navbar__icon.mb-1(src='img/icons/school.png' alt='icon chức năng')
        div Chương trình đào tạo
    li.header_navbar__divider
    li.header_navbar__item
      img.header_navbar__icon.mb-1(src='img/icons/test.png' alt='icon chức năng')
      div Điểm
    li.header_navbar__divider
    li.header_navbar__item
      img.header_navbar__icon.mb-1(src='img/icons/checklist.png' alt='icon chức năng')
      div Báo cáo quyết định
    li.header_navbar__divider
    li.header_navbar__item
      img.header_navbar__icon.mb-1(src='img/icons/blackboard.png' alt='icon chức năng')
      div E-learning
    li.header_navbar__divider
    li.header_navbar__item
      img.header_navbar__icon.mb-1(src='img/icons/function.png' alt='icon chức năng')
      div Website CNTT
    li.header_navbar__divider
    li.header_navbar__item
      img.header_navbar__icon.mb-1(src='img/icons/facebook.png' alt='icon chức năng')
      div Facebook
