section.dashboard-page.mt-5
  .container-fluid
    article.dashboard_thongkehangnam__wrapper
      .row
        .col-sm-6.col-lg-3.thongkehangnam__item.text-center
            .h4.text-center 2020
            img.w-75(src='img/chart/pie_chart.png', alt='chart-js')
            //- .thongkehangnam__box.p-3.p-md-4.shadow.rounded.text-white
              .h5 Khoa: Công nghệ thông tin
              div Đầu vào: &nbsp;
                strong 999
              div Đã tốt nghiệp: &nbsp;
                strong 999
        .col-sm-6.col-lg-3.thongkehangnam__item.text-center
            .h4.text-center 2019
            img.w-75(src='img/chart/pie_chart.png', alt='chart-js')
            //- .thongkehangnam__box.p-3.p-md-4.shadow.rounded.text-white
              .h5 Khoa: Công nghệ thông tin
              div Đầu vào: &nbsp;
                strong 999
              div Đã tốt nghiệp: &nbsp;
                strong 999
        .col-sm-6.col-lg-3.thongkehangnam__item.text-center
            .h4.text-center 2018
            img.w-75(src='img/chart/pie_chart.png', alt='chart-js')
            //- .thongkehangnam__box.p-3.p-md-4.shadow.rounded.text-white
              .h5 Khoa: Công nghệ thông tin
              div Đầu vào: &nbsp;
                strong 999
              div Đã tốt nghiệp: &nbsp;
                strong 999
        .col-sm-6.col-lg-3.thongkehangnam__item.text-center
            .h4.text-center 2017
            img.w-75(src='img/chart/pie_chart.png', alt='chart-js')
            //- .thongkehangnam__box.p-3.p-md-4.shadow.rounded.text-white
              .h5 Khoa: Công nghệ thông tin
              div Đầu vào: &nbsp;
                strong 999
              div Đã tốt nghiệp: &nbsp;
                strong 999
