section.sidebar_chucnang__wrapper.mt-4
  .container-fluid
    .d-flex.flex-wrap.justify-content-center
      .sidebar_chucnang__item(data-modal='giaovien')
        a(href='#').sidebar_chucnang__box.card.border-0.py-3.px-2.px-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .sidebar_chucnang__icon.mdi.mdi-calendar-blank-multiple.mdi-24px
          .sidebar_chucnang__text.mt-2 Giáo viên
      .sidebar_chucnang__item(data-modal='giaovienlophocphan')
        a(href='#').sidebar_chucnang__box.card.border-0.py-3.px-2.px-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .sidebar_chucnang__icon.mdi.mdi-calendar-blank-multiple.mdi-24px
          .sidebar_chucnang__text.mt-2 Giáo viên LHP
      .sidebar_chucnang__item(data-modal='nopdiem')
        a(href='#').sidebar_chucnang__box.card.border-0.py-3.px-2.px-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .sidebar_chucnang__icon.mdi.mdi-calendar-blank-multiple.mdi-24px
          .sidebar_chucnang__text.mt-2 Nộp điểm
      .sidebar_chucnang__item(data-modal='thongkediem')
        a(href='#').sidebar_chucnang__box.card.border-0.py-3.px-2.px-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .sidebar_chucnang__icon.mdi.mdi-calendar-blank-multiple.mdi-24px
          .sidebar_chucnang__text.mt-2 Thống kê điểm
      .sidebar_chucnang__item(data-modal='diemsinhvien')
        a(href='#').sidebar_chucnang__box.card.border-0.py-3.px-2.px-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .sidebar_chucnang__icon.mdi.mdi-calendar-check.mdi-24px
          .sidebar_chucnang__text.mt-2 Điểm SV chính thức
      .sidebar_chucnang__item(data-modal='diemsinhvienlophocphan')
        a(href='#').sidebar_chucnang__box.card.border-0.py-3.px-2.px-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .sidebar_chucnang__icon.mdi.mdi-calendar-check.mdi-24px
          .sidebar_chucnang__text.mt-2 Điểm SV LHP
      .sidebar_chucnang__item(data-modal='cotdiemlophocphan')
        a(href='#').sidebar_chucnang__box.card.border-0.py-3.px-2.px-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .sidebar_chucnang__icon.mdi.mdi-calendar-check.mdi-24px
          .sidebar_chucnang__text.mt-2 Cột điểm LHP
      .sidebar_chucnang__item(data-modal='lophocphan')
        a(href='#').sidebar_chucnang__box.card.border-0.py-3.px-2.px-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .sidebar_chucnang__icon.mdi.mdi-calendar-check.mdi-24px
          .sidebar_chucnang__text.mt-2 Lớp học phần